<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.enilink.komma.edit.itemProviderAdapterFactories">
      <factory
            class="net.enilink.komma.example.smarthome.edit.SmartHomeAdapterFactory"
            supportedTypes="net.enilink.komma.edit.provider.IItemLabelProvider"
            uri="http://enilink.net/vocab/smarthome#">
      </factory>
   </extension>
   <extension
         point="net.enilink.komma.model.modules">
      <module
            class="net.enilink.komma.example.smarthome.model.SmartHomeModule">
      </module>
   </extension>
   <extension
         point="net.enilink.komma.model.uriMapRules">
      <rule
            pattern="http://enilink.net/vocab/smarthome"
            priority="5"
            replacement="platform:/plugin/net.enilink.komma.example.smarthome/META-INF/vocab/smarthome.ttl">
      </rule>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.enilink.komma.example.smarthome.commands.Switch"
            name="Switch">
         <defaultHandler
               class="net.enilink.komma.example.smarthome.commands.SwitchHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:net.enilink.komma.edit.ui.menu">
         <command
               commandId="net.enilink.komma.example.smarthome.commands.Switch"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="net.enilink.komma.example.smarthome.model.Switchable">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>            
         </command>
      </menuContribution>
   </extension>

</plugin>
